{% extends 'base.html' %}
{% block content %}
	<div class="row">
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
		<div class="col-md-1">.col-md-1</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div id="videoDiv" style="width:200px;height:200px;margin-bottom:20px;"></div>
			<div id="joyDiv" style="width:200px;height:200px;margin-bottom:20px;"></div>		
		</div>
		<div class="col-md-4">.col-md-4</div>
	  </div>
	  <div class="row">
		<div class="col-md-4">.col-md-4</div>
		<div class="col-md-4">.col-md-4</div>
		<div class="col-md-4">.col-md-4</div>
	  </div>

	<script src="static/user/js/joy.js"></script>
	<script>
		var joy = new JoyStick('joyDiv');
	</script>
{% endblock %}